@use '~bootstrap/scss/bootstrap';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  }
