@use '~bootstrap/scss/bootstrap';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
header {
  width: 90%; /* 横幅 */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list-item {
  list-style: none;
  display: inline-white;
  margin: 0 30px;
}